{% extends "default.html" %}
{% block content %}
    <header>
        <h1>Logger</h1>
        <p>Python Flask-REST API</p>
    </header>
    <p>All information from the database is shown below. If you want to sort the
        data, click on one of the headers in the table.</p>

    <table class="sortable">
        <tr>
            <th class="clickable">ID</th>
            <th class="clickable">userID</th>
            <th class="clickable">Event</th>
            <th class="clickable">Trigger</th>
            <th class="clickable">Value</th>
            <th class="clickable">Time</th>
            <th class="clickable">Type</th>
        </tr>

        {% for row in data %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.userID }}</td>
            <td>{{ row.event }}</td>
            <td>{{ row.trigger }}</td>
            <td>{{ row.value }}</td>
            <td>{{ row.time }}</td>
            <td>{{ row.type }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
